<div class="container">

  <!--2nd approach to reactive forms, template driven forms-->
  <h1>{{title}}</h1>

  <form action="">
    <div>
      <!--ngModel binds form field to a proprety in our class-->
      <input type="text" name="wishName"  [(ngModel)]="newWishText">
    </div>
    <div>
      <button type="submit"
      (click)="$event.preventDefault(); addNewWish()"
      >Add Wish</button>
    </div>
  </form>

  <!--ngModel listen to change-->
  <div>
    <span>filter</span>
    <!--ngModel on change, pass the new val to function that triggers on change by passing $event-->
    <select name="listFIler" id="" [(ngModel)]="listFilter" >
      <option value="0">All</option>
      <option value="1">Unfulfilled</option>
      <option value="2">Fulfilled</option>
    </select>
  </div>

  <!--Approach 3 of conditional rendering, template only for the else-->
  <h1>approach 333</h1>
  <div *ngIf="visibleItems.length===0; else showItems2">
    There are no wishes
  </div>

  <ng-template #showItems2>
    <ul *ngIf="items.length > 0" id="list">
      <li *ngFor="let item of visibleItems; index as iii">
          <!--data binding [html proprety or attribute]="value"-->
          <!--event binding have to call a method in the class-->
          <!--$event to pass event usually (e) in normal js-->
          <input type="checkbox" 
          [checked]="item.isComplete" 
          [attr.data-index]="iii"
          (click)="toggleItem($event, item)"
          >{{item.wishText}}
      </li>
    </ul>
  </ng-template>

  <!--cant have more than one directive on an element, so no ngIf with ngFor-->



</div>