<div class="container">

  <!--2nd approach to reactive forms, template driven forms-->
  <h1>{{title}}</h1>

  <form action="">
    <div>
      <!--ngModel binds form field to a proprety in our class-->
      <input type="text" name="wishName"  [(ngModel)]="newWishText">
    </div>
    <div>
      <button type="submit"
      (click)="$event.preventDefault(); addNewWish()"
      >Add Wish</button>
    </div>
  </form>

  <!--ngModel listen to change-->
  <div>
    <span>filter</span>
    <!--ngModel on change, pass the new val to function that triggers on change by passing $event-->
    <select name="listFIler" id="" [(ngModel)]="listFilter" >
      <option value="0">All</option>
      <option value="1">Unfulfilled</option>
      <option value="2">Fulfilled</option>
    </select>
  </div>

  <div>
    <wish-list [wishes]="visibleItems">

    </wish-list>
  </div>

  <!--cant have more than one directive on an element, so no ngIf with ngFor-->



</div>